/* NavBar */

.home-navbar {
  color: rgb(255, 255, 255);
  line-height: 1.75;
  padding: 15px 20px;
  background: transparent;
}

.navbar-pages {
  line-height: 1.75;
  background: #333333;
  padding: 15px 20px;
  -webkit-box-shadow: 0px 16px 26px -9px #959595; 
  box-shadow: 0px 16px 26px -9px #959595;
}

.active {
  color: rgb(177, 177, 177);
  font-size: 1rem;
  border-bottom: 1px rgb(177, 177, 177) solid;
  padding-bottom: 5px;
  text-decoration: none;
  margin: 0 15px;
}

.navbarLink {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-decoration: none;
  margin: 0 15px;
}

.active:hover,
.navbarLink:hover {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s ease-in;
}

.navbar-title {
  font-weight: 600;
  font-size: 1.2rem;
  font-family: sans-serif;
}
